<div class="row text-center" >
  <div class="col">
    <h1 style="visibility: hidden ">Alles OK</h1>
  </div>
</div>
<div class="row text-center animated fadeIn" >
  <div class="col">
    <div class="circle-loader" [ngClass]="{'load-complete' : amount}">
      <div class="checkmark draw" [ngClass]="{'show-checkmark ' : amount}"></div>
    </div>
  </div>
</div>
<div class="row text-center" >
  <div class="col">
    <h1  class="hidden" [ngClass]="{'animated fadeIn show ' : amount, 'hidden' : !amount}">Auf deiner Karte sind noch {{amount}}€</h1>
  </div>
</div>

