/* You can add global styles to this file, and also import other style files */
html {
  /*background: url(./assets/architecture-barbecue-bbq-5895.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
  background: url(./assets/coffee-pattern-1.jpg) repeat fixed;

}
body {
background-color: rgba(0,0,0,0) !important;
}
